<ion-view view-title="KongSongMong">
  <ion-content class="padding">


    <div class="list card">

      <div class="item item-divider">Sons</div>
      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="tetra">
              <source src="audio/tetra.ogg" type="audio/ogg">
              <source src="audio/tetra.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">É Tetra</a>
            <a class="button col col-10" onclick="document.getElementById('tetra').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('tetra').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>
      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="psicose">
              <source src="audio/psicose.ogg" type="audio/ogg">
              <source src="audio/psicose.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Psicose
            </a>
            <a class="button col col-10" onclick="document.getElementById('psicose').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('psicose').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>
      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="taffarel">
              <source src="audio/taffarel.ogg" type="audio/ogg">
              <source src="audio/taffarel.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Vai que é sua Taffarel
            </a>
            <a class="button col col-10" onclick="document.getElementById('taffarel').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('taffarel').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="maisde8000">
              <source src="audio/maisde8000.ogg" type="audio/ogg">
              <source src="audio/maisde8000.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">DBZ - Mais de 8000
            </a>
            <a class="button col col-10" onclick="document.getElementById('maisde8000').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('maisde8000').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="vermemaldito">
              <source src="audio/vermemaldito.ogg" type="audio/ogg">
              <source src="audio/vermemaldito.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">DBZ - Verme Maldito
            </a>
            <a class="button col col-10" onclick="document.getElementById('vermemaldito').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('vermemaldito').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="mimimi">
              <source src="audio/mimimi.ogg" type="audio/ogg">
              <source src="audio/mimimi.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Mimimi
            </a>
            <a class="button col col-10" onclick="document.getElementById('mimimi').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('mimimi').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="dragonzord">
              <source src="audio/dragonzord.ogg" type="audio/ogg">
              <source src="audio/dragonzord.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Power Ranger - Dragonzord
            </a>
            <a class="button col col-10" onclick="document.getElementById('dragonzord').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('dragonzord').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="zordon">
              <source src="audio/zordon.ogg" type="audio/ogg">
              <source src="audio/zordon.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Power Ranger - Zordon
            </a>
            <a class="button col col-10" onclick="document.getElementById('zordon').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('zordon').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="pokemonred">
              <source src="audio/pokemonred.ogg" type="audio/ogg">
              <source src="audio/pokemonred.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Pokemon RED
            </a>
            <a class="button col col-10" onclick="document.getElementById('pokemonred').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('pokemonred').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="24hours">
              <source src="audio/24hours.ogg" type="audio/ogg">
              <source src="audio/24hours.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">UCT - 24 horas 
            </a>
            <a class="button col col-10" onclick="document.getElementById('24hours').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('24hours').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="mariobros">
              <source src="audio/mariobros.ogg" type="audio/ogg">
              <source src="audio/mariobros.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Super Mario Bros
            </a>
            <a class="button col col-10" onclick="document.getElementById('mariobros').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('mariobros').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      
      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="r2d2">
              <source src="audio/r2d2.ogg" type="audio/ogg">
              <source src="audio/r2d2.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Star Wars - R2D2
            </a>
            <a class="button col col-10" onclick="document.getElementById('r2d2').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('r2d2').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <div>
          <div class="button-bar">
            <audio id="supermarioworld">
              <source src="audio/supermarioworld.ogg" type="audio/ogg">
              <source src="audio/supermarioworld.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a class="button col col-80">Super Mario World
            </a>
            <a class="button col col-10" onclick="document.getElementById('supermarioworld').play()"><i class="ion-ios-play" data-tags="music, watch, arrow, right" data-pack="ios" ></i></a>
            <a class="button col col-10" onclick="document.getElementById('supermarioworld').pause()"><i class="ion-ios-pause" data-tags="music, watch, arrow, right" data-pack="ios"></i></a>
          </div>
        </div>
      </div>



    </div>
  </ion-content>
</ion-view>